@import "tailwindcss";

@theme inline {

  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);
  --font-hankenGrotesk: var(--font-hankenGrotesk);
  --font-inter: var(--font-inter);

  /* background colors */

  --color-background: #FFFFFF;
  --color-foreground: #F9F8F8;
  --color-bg-primary: #FE9A86;
  --color-bg-secondary: #718496;
  --color-bg-green: #8FA58A;
  --color-surface: #FFFFFF;
  --color-surface-light: #EFEFEF;
  --color-surface-muted: #F5F5F5;
  --color-surface-muted-primary: #F8F9FA;
  --color-surface-muted-secondary: #F0F0F0;

  /* text Colors */

  --color-text-primary: #202939;
  --color-text-secondary: #12141D;
  --color-text-para: #697586;
  --color-text-success: #00A371;
  --color-text-gardner: #7FB3B0;
  --color-text-cleaner: #E8C088;
  --color-text-dark-primary: #303231;
  --color-text-green: #34C759;

  /* border colors */
  --color-border-primary: #D5E8FC;
  --color-border-secondary: #E4E4E4;

  /* accent Colors */

  --color-accent-primary: #4EDEA333;
  --color-accent-secondary: #4EDEA3;
  --color-accent-danger: #FF3F3F; 
  --color-accent-success: #34C759;
  --color-accent-success-light: #E8FFEE;

  /* color Light bg */
  --color-bg-light-primary :#fff5f3;
  --color-bg-light-secondary :#ebf5ff;
  --color-bg-light-green :#f1f4f0;
}
