@import "tailwindcss";

@theme inline {

  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);

  /* background colors */

  --color-background: #FFFFFF;
  --color-foreground: #F9F8F8;
  --color-bg-primary: #FE9A86;
  --color-bg-secondary: #718496;
  --color-bg-green: #8FA58A;
  --color-surface: #FFFFFF;
  --color-surface-light: #EFEFEF;
  --color-surface-muted: #F5F5F5;

  /* text Colors */

  --color-text-primary: #202939;
  --color-text-secondary: #12141D;
  --color-text-para: #697586;
  --color-text-success: #00A371;

  /* border colors */
  --color-border-primary: #D5E8FC;

  /* accent Colors */

  --color-accent-primary: #4EDEA333;
  --color-accent-secondary: #4EDEA3;
  --color-accent-danger: #FF3F3F;

  /* color Light bg */
  --color-bg-light-primary :;



}